<!doctype html>
<title>DDMC-HELPER</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script crossorigin="anonymous" integrity="sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==" src="https://lib.baomitu.com/vue/2.6.14/vue.js"></script>
<script crossorigin="anonymous" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" src="https://lib.baomitu.com/axios/0.26.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<div id="app">
    <!-- <a href="{{ url_for('check_cart_and_reserve_time') }}" id="check_cart_and_reserve_time" style="display: none;"></a> -->
    <div>
        检查购物车和运力 
        <button @click="checkCart">[{ buttonStatus.checkCart==='stopped'?'开始':'停止' }]</button>
    </div>
    <div>
        暴力抢菜 
        <button @click="executeFoods">[{ buttonStatus.executeFoods==='stopped'?'开始':'停止' }]</button>
    </div>
    <div>{{add}}</div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

