<!doctype html>
<title>DDMC-HELPER</title>
<meta http-equiv="cache-control" content="no-cache">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='vue.min.js') }}"></script>
<script  type="text/javascript" src="{{ url_for('static', filename='axios.min.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='vconsole.min.js') }}"></script> -->

<div id="app">
    <div style="padding: 30px 60px;">
        <div>
            <span>检查购物车和运力 </span>
            <button @click="checkCart">[{ buttonStatus.checkCart==='stopped'?'开始':'停止' }]</button>
            <span>|</span>
            <span>间隔时间：</span>
            <input v-model="checkCartDuration" 
                type="number"
                style="vertical-align: middle; width: 2rem;height:1rem;font-size:1rem;"/>秒
    
        </div>
        <div>
            <span>暴力抢菜 </span>
            <button @click="executeFoods">[{ buttonStatus.executeFoods==='stopped'?'开始':'停止' }]</button>
        </div>
        <hr style="margin-top: 2rem;"/>
        <div ref="content" style="margin-top: 1rem;overflow: auto;height: calc(100vh - 10rem);">
            <div v-for="msg in historyMsg">[{ msg }]</div>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>


